.contact-links a {
  text-decoration: none;
  color: gray;
  
  flex: 25%;
}

.contact-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 2rem;
  grid-row-gap: 1rem;
}

#footer p {
  color: grey;
  
}
#footer .contact {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#footer {
  width: 60%;
  margin: 0 auto;
}

.contact-links a:hover {
  text-decoration: underline;
}