#recover-password a {
  color: red;
  text-decoration: none;
}
#recover-password header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  font-size: 20px;
}

#recover-password form {
  display: block;
  width: 400px;
  padding: 60px;
  background-color: rgba(255, 255,255, 0.8);
  margin: 0 auto;
}

#recover-password button {
  width: 320px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255,255, 0.8);
  background-color: rgba(0, 0, 255, 0.6);
  border-radius: 5px;
  border: 1px solid blue;
  margin-top: var(--space-small);
  margin-bottom: var(--space-medium);
  margin: 0 auto;
}

#recover-password form p {
  color: black;
  margin-top: 0;
}

#recover-password h1 {
  margin-top: 0;
  color: black;
}

#recover-password .input-field input {
  background-color: white;
  width: 300px;
  height: 45px;
  font-size: 16px;
  padding-left: var(--space-medium);
  margin-bottom: var(--space-medium);
  border-radius: 5px;
  color: white;
  border: 1px solid #393838;
   
}

#recover-password header img {
  width:200px;
  height: auto;
}
