#search {
  border: 1px solid white;
  position: fixed;
  right: 10%;
  display: flex;
  width: 206px;
  height: 35px;
  background-color: black;
  margin-top: -18px;
}

#search button {
  margin-left: -2.1rem;
  font-size: 18px;
  color: white;
  background-color: black;
  border-radius: 70px;
  
  
}
#search .icon {
  padding: 0.5rem;
  color: white;
  font-size: 20px;
  background-color: black;
}

#search input {
  background-color: black;
  color: white; 
  
}
