#recover-password button {
  display: inline-block;
  background-color: #0080ff;
}

#recover-password header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#recover-password header a {
  text-decoration: none;
  color: red;
}

.password-content {

  width: 50%;
}
